<div class="px-4 py-5 my-5 text-center">
   
    <h1 class="display-5 fw-bold text-body-emphasis">Task Manager</h1>
    <div class="col-lg-6 mx-auto">

      <p class="lead mb-4">
        Welcome to Task Manager — your simple and powerful tool to organize, track, and manage daily tasks efficiently. Create, update, and monitor your to-do items with ease, all from one clean dashboard. Boost your productivity and stay on top of your work with real-time updates and smart task controls.
      </p>
      
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3" [routerLink]="'/log'">Log in</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4" [routerLink]="'/sign'">Sign in</button>
      </div>
    </div>
  </div>